<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="usmanali.kinarabakery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".productdetailActivity"
            android:label="@string/title_activity_productdetail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".showmoreproducts"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_showmoreproducts"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".shoppingcartactivity"
            android:label="@string/title_activity_shoppingcartactivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".signupactivity"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".customerprofileactivity"
            android:label="@string/title_activity_customerprofileactivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".add_products_activity" />
        <activity
            android:name=".Track_orders"
            android:label="@string/title_activity_track_orders"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>